[difftool "difftastic"] # Use this tool for `git difftool`
  cmd = difft "$LOCAL" "$REMOTE"
[alias] # `git dft` is less to type than `git difftool`
  dft = difftool
[core]
  editor = nvim
  excludesfile = ~/.config/git/ignore
  pager = delta
[delta]
  dark = true      # or light = true, or omit for auto-detection
  navigate = true  # use n and N to move between diff sections
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = zdiff3
  tool = vimdiff
[pager] # Use a pager for large output, just like other git commands
  difftool = true
[pull]
  rebase = true
[push]
  autoSetupRemote = true
  default = simple
[user]
  email = ben@twos.dev
  name = glacials
# Can uncomment once installing dotfiles on a fresh machine is very stable.
# Until then, a single failure screws install.sh up because this replacement
# stops Homebrew from being installed until your SSH key is in GitHub, which
# requires gh to do from CLI, which requires Homebrew to install (:
#[url "git@github.com:"]
#       insteadOf = https://github.com/
