[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/css-color"]
	path = .vim/bundle/css-color
	url = http://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = http://github.com/sjl/badwolf.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = http://github.com/vim-scripts/vimwiki.git
[submodule ".vim/bundle/nxc.vim"]
	path = .vim/bundle/nxc.vim
	url = http://github.com/vim-scripts/nxc.vim.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = http://github.com/tomasr/molokai.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = http://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/proton"]
	path = .vim/bundle/proton
	url = http://github.com/vim-scripts/proton.git
[submodule ".vim/bundle/pyte"]
	path = .vim/bundle/pyte
	url = http://github.com/vim-scripts/pyte.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = http://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/jellybeans.vim"]
	path = .vim/bundle/jellybeans.vim
	url = git@github.com:nanotech/jellybeans.vim
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = git@github.com:wting/rust.vim
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = git@github.com:tpope/vim-haml
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = git@github.com:wincent/Command-T
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script
[submodule ".vim/bundle/vim-actionscript"]
	path = .vim/bundle/vim-actionscript
	url = git@github.com:jeroenbourgois/vim-actionscript
