[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/css-color"]
	path = .vim/bundle/css-color
	url = http://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = http://github.com/sjl/badwolf.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = http://github.com/vim-scripts/vimwiki.git
[submodule ".vim/bundle/nxc.vim"]
	path = .vim/bundle/nxc.vim
	url = http://github.com/vim-scripts/nxc.vim.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = http://github.com/tomasr/molokai.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = http://github.com/Valloric/YouCompleteMe.git
