[user]
	name = glacials
	email = qhiiyr@gmail.com
[diff]
	tool = mvimdiff
[difftool "mvimdiff"]
  cmd = mvim -f -d \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = vimdiff
[core]
	editor = vim
	excludesfile = /Users/ben/.gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
