#!/bin/bash

set -euo pipefail
test -z ${DEBUG:-} || set -x

# This script installs various CLI tools.
echo "Installing CLI tools"

. $(chezmoi source-path)/functions.sh

{{ if eq .chezmoi.os "darwin" }}
brew install --quiet --force \
ack `# A better grep` \
awscli `# AWS CLI` \
bash `# macOS ships with an olerd version` \
chezmoi `# Probably already installed, but for good measure` \
cowsay `# Make animals say things` \
defaultbrowser `# Set default web browser from CLI` \
difftastic `# A better diff` \
direnv `# Auto-source .envrc files` \
fd `# A better find` \
ffmpeg `# Image and video manipulation` \
fortune `# Random quotes` \
fzf `# Fuzzy finder` \
gh `# GitHub CLI` \
git `# macOS ships with an older version` \
imagemagick `# Image manipulation` \
jq `# JSON manipulation` \
nvim `# Neovim` \
ripgrep `# A better grep` \
starship `# Opinionated pre-configured prompt` \
tmux `# Terminal multiplexer` \
tree `# Pretty-print directory hierarchies` \
watch `# Run a command repeatedly` \
wget `# Download files` \
youtube-dl `# Download videos from YouTube` \
zsh `# macOS ships with an older version`

brew services start --quiet syncthing 1>/dev/null
defaultbrowser chrome
{{ else if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "raspbian" }}
sudo apt-get install --quiet --quiet \
cowsay `# Make animals say things` \
fortune `# Random quotes`

sudo snap install nvim

# Opinionated pre-configured prompt
starship --version 1>/dev/null 2>/dev/null || curl -sS https://starship.rs/install.sh | sh
{{ end }}
{{ end }}

# Misc followups to above
sh ~/.config/fortune/strfile
