#!/bin/bash

set -euo pipefail
test -z ${DEBUG:-} || set -x

# This script installs updates the packages installed on the system. It is
# designed to be run occasionally.
echo "Upgrading packages"

. $(chezmoi source-path)/functions.sh

[[ ${debug:-} == "y" ]] && echo "Updating packages."

{{ if eq .os "darwin" }}
brew update
brew upgrade
{{ else if eq .os "linux" }}
{{ if eq .osRelease.idLike "debian" }}
sudo apt-get update
sudo apt-get upgrade
{{ end }}
{{ end }}
